

.slides-pagination a {
    width: 15px;
    height: 15px;
    margin: 5px 2px;
    border-color: white;
    -webkit-box-shadow: 0 1px 1px black;
    -moz-box-shadow: 0 1px 1px black;
    box-shadow: 0 1px 1px black;
}
.slides-pagination a.current {
    background: white;
}
.slides-navigation a {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    display: block;
    text-decoration: none;
    border: 3px solid #fff;
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 0 25px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    height: 40px;
    width: 40px;
    top: -40px;
    padding: 1px;
    -webkit-box-shadow: 0 1px 1px black;
    -moz-box-shadow: 0 1px 1px black;
    box-shadow: 0 1px 1px black;
    -webkit-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    transition: background 0.15s ease;
}
.slides-navigation a:hover {
    background: rgba(0, 0, 0, 0.4);
}



a {
    color: #98d9fe;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    -o-transition: color 0.15s ease;
    transition: color 0.15s ease;
    text-shadow: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
